.navbar12_component {
  display: flex;
  width: 100%;
  min-height: 4.5rem;
  padding-right: 5%;
  padding-left: 5%;
  align-items: center;

  border-bottom: 1px solid var(--black-dccb7db6);

  background-color: var(--white-1766b841);
}

@media screen and (max-width: 767px) {
  .navbar12_component {
    min-height: 4rem;
  }
}

.navbar12_container {
  display: flex;
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-between;
  align-items: center;
}

.navbar12_logo-link {
  max-width: 9rem;
  padding-left: 0px;
}

.navbar12_menu {
  position: static;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .navbar12_menu {
    position: absolute;

    overflow: auto;
    padding: 1rem 5% 2rem;

    border-bottom: 1px solid black;

    background-color: var(--white-1766b841);

    background-clip: border-box;
    -webkit-text-fill-color: inherit;
  }
}

@media screen and (max-width: 991px) {
  .navbar12_menu.is-page-height-tablet {
    height: 100dvh;
    padding-bottom: 6.5rem;
    transition: height 500ms ease;
  }
}

@media screen and (max-width: 767px) {
  .navbar12_menu.is-page-height-tablet {
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 991px) {
  .navbar12_menu-dropdown {
    width: 100%;
    font-size: 1.125rem;
  }
}

.navbar12_dropdown-toggle {
  display: flex;
  padding: 0.5rem 1rem;
  align-items: center;
  grid-column-gap: 0.5rem;
}

@media screen and (max-width: 991px) {
  .navbar12_dropdown-toggle {
    display: flex;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 0rem;
    align-items: center;
  }
}

.dropdown-chevron {
  display: flex;
  width: 1rem;
  height: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .dropdown-chevron {
    left: auto;
    top: auto;
    right: 0%;
    bottom: auto;
  }
}

.navbar12_dropdown-list {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2), 4px 0 8px -2px rgba(0, 0, 0, 0.1);
}

.navbar12_dropdown-list:global(.w--open) {
  right: -100%;

  width: 40rem;
  padding: 1.5rem;

  border: 1px solid black;
  border-radius: 0.5rem;

  background-color: white;

  box-shadow: 0 -2px 4px -2px rgba(0,0,0,0.2), 4px 0 8px -2px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 991px) {
  .navbar12_dropdown-list {
    position: static;
    overflow: hidden;
  }
}

@media screen and (max-width: 991px) {
  .navbar12_dropdown-list:global(.w--open) {
    width: auto;
    padding: 0px;
    border-style: none;
  }
}

.navbar12_dropdown-list.is--first {
  right: auto;
}

.navbar12_dropdown-list.is--nopadding {
  padding-right: 0rem;
  padding-left: 0rem;
}

.navbar12_dropdown-content {
  display: grid;
  flex: 1;
  grid-auto-columns: 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 0px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 991px) {
  .navbar12_dropdown-content {
    padding: 1rem 0rem;
    align-items: start;
    align-content: start;
  }
}

@media screen and (max-width: 767px) {
  .navbar12_dropdown-content {
    width: 100%;
    flex-direction: column;
    grid-auto-columns: 1fr;
    grid-row-gap: 1.5rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

@media screen and (max-width: 479px) {
  .navbar12_dropdown-content {
    padding-top: 1rem;
    padding-bottom: 1rem;
    grid-template-columns: 1fr;
  }
}

.navbar12_dropdown-content.is--dg2go-banner {
  width: 110%;
  margin-bottom: -1.5rem;
  padding: 1.5rem;

  background-color: var(--dg-red);

  color: var(--white);
  text-decoration: none;
}

.navbar12_dropdown-content.has--side-padding {
  padding-right: 1rem;
  padding-left: 1rem;
}

.navbar12_dropdown-link-list {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: max-content;
  grid-column-gap: 0px;
  grid-row-gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: max-content;
}

@media screen and (max-width: 767px) {
  .navbar12_dropdown-link-list {
    max-width: none;
    grid-row-gap: 0.5rem;
  }
}

.navbar12_dropdown-link {
  display: grid;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  align-items: flex-start;
  grid-auto-columns: 1fr;
  grid-column-gap: 0.75rem;
  grid-row-gap: 0px;
  grid-template-columns: max-content 1fr;
  grid-template-rows: auto;

  text-decoration: none;
}

@media screen and (max-width: 479px) {
  .navbar12_dropdown-link {
    padding-left: 0rem;
  }
}

.navbar12_icon-wrapper {
  flex: 0 0 auto;
}

.icon-embed-xsmall {
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar12_text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.text-weight-semibold {
  font-weight: 600;
}

.text-size-small {
  font-size: 0.875rem;
}

@media screen and (max-width: 767px) {
  .hide-mobile-landscape {
    display: none;
  }
}

.spacer-xsmall {
  width: 100%;
  padding-top: 1rem;
}

@media screen and (max-width: 767px) {
  .spacer-xsmall {
    padding-top: 0.75rem;
  }
}

.divider-horizontal {
  border-bottom: 1px solid black;
}

.button {
  padding: 0.75rem 1.5rem;
  border: 1px solid var(--black-dccb7db6);
  background-color: var(--black-dccb7db6);
  color: var(--white-1766b841);
  text-align: center;
}

.button.is-link {
  padding: 0.25rem 0rem;

  border-style: none;

  background-color: transparent;

  color: var(--black-dccb7db6);
  line-height: 1;
  text-decoration: none;
}

.button.is-link.is-alternate {
  background-color: transparent;
  color: var(--white-1766b841);
}

.button.is-link.is-icon {
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
}

.button.is-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-gap: 0.75rem;
  grid-row-gap: 0.75rem;
}

.button.is-secondary {
  background-color: transparent;
  color: var(--black-dccb7db6);
}

.button.is-secondary.is-alternate {
  border-color: var(--white-1766b841);
  background-color: transparent;
  color: var(--white-1766b841);
}

.button.is-small {
  padding: 0.5rem 1.25rem;
}

.button.is-small.is-icon-only {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.button.is-alternate {
  background-color: var(--white-1766b841);
  color: hsla(0, 0.00%, 0.00%, 1.00);
}

.button.is-tertiary {
  border-color: transparent;
  background-color: transparent;
  color: hsla(0, 0.00%, 0.00%, 1.00);
}

.button.is-icon-only {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

.navbar12_link {
  padding: 0.5rem 1rem;
}

.navbar12_link:global(.w--current) {
  color: var(--black-dccb7db6);
}

@media screen and (max-width: 991px) {
  .navbar12_link {
    width: auto;
    padding: 0.75rem 0rem;
    font-size: 1.125rem;
  }
}

.navbar12_menu-buttons {
  display: flex;
  margin-left: 1rem;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 991px) {
  .navbar12_menu-buttons {
    margin-top: 1.5rem;
    margin-left: 0rem;
    flex-direction: column;
    align-items: stretch;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
}

.is-hidden-desktop {
  display: none;
}

@media screen and (min-width: 1280px) {
  .is-hidden-desktop {
    display: inline;
  }
}

.navbar12_menu-button {
  padding: 0rem;
}

@media screen and (max-width: 991px) {
  .navbar12_menu-button:global(.w--open) {
    background-color: transparent;
  }
}

@media screen and (max-width: 991px) {
  .menu-icon1 {
    display: flex;
    width: 48px;
    height: 48px;
    margin-right: -0.5rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 991px) {
  .menu-icon1_line-top {
    width: 24px;
    height: 2px;
    padding-right: 0px;
    padding-bottom: 0px;
    background-color: black;
  }
}

@media screen and (max-width: 991px) {
  .menu-icon1_line-middle {
    display: flex;
    width: 24px;
    height: 2px;
    margin-top: 6px;
    margin-bottom: 6px;
    padding-right: 0px;
    padding-bottom: 0px;
    justify-content: center;
    align-items: center;

    background-color: black;
  }
}

@media screen and (max-width: 991px) {
  .menu-icon_line-middle-inner {
    width: 4px;
    height: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
}

@media screen and (max-width: 991px) {
  .menu-icon1_line-bottom {
    width: 24px;
    height: 2px;
    padding-right: 0px;
    padding-bottom: 0px;
    background-color: black;
  }
}

#w-node-_1905ad96-009f-845c-9544-d4c369fcfb0d-69fcfa96 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}